@import './Management.css';

.line-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60px;
}

.action-btn-black {
    background: #000;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
}