.app-container {
    display: flex;
    min-height: 100vh;
}

.main-content-wrapper {
    margin-left: 280px;
    width: calc(100% - 280px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f7f6;
    min-height: 100vh;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-content-wrapper.full-width {
    margin-left: 0;
    width: 100%;
}

.content-area {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-footer {
    background-color: var(--footer-bg-dark);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.footer-logo {
    background-color: #4A90E2;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}